<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sigin in you name</title>
</head>
<body>
    <h1>Please sing in.</h1>
    <form method="post" action="/user">
        <p>Name:<br /> <input type="text" name="username"></p>
        <p>Email:<br /> <input type="text" name="email"></p>
        <p>WebSite:<br /> <input type="text" name="website"></p>
        <p>Language:<br /> <input type="text" name="language"></p>
        <input type="submit" value="Submit My informaction">
    </form>
</body>
</html>